* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(96, 91, 94, 0.086);
  color: rgb(55, 55, 55);
  font-family: sans-serif;
}

a:hover {
  font-size: 1rem;
  background-color: rgba(248, 123, 55, 0.376);
  color: whitesmoke;
}

nav {
  width: 100vw;
  height: 4rem;
  background-color: rgba(255, 116, 70, 0.578);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  top: 0;
  z-index: 99;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  font-weight: bold;
  font-size: 1rem;
  transition: 1s;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(255, 116, 70);
  padding: 0.8rem;
  color: whitesmoke;
  cursor: pointer;
  transition: 1s;
}

.logo:hover {
  font-size: 2rem;
  background-color: whitesmoke;
  color: rgb(255, 116, 70);
}

section {
  height: 100vh;
  border: solid 1px rgba(253, 145, 109, 0.437);
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduction {
  background-color: rgba(248, 90, 37, 0.165);
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 80%;
  border-radius: 1rem;
  padding: 2rem;
}

.details {
  flex: 3;
  margin-top: 5rem;
}

.image {
  flex: 1;
  flex-direction: column;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details h1 {
  font-size: 4rem;
}

.details h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.details a {
  text-decoration: none;
  border: solid 1px rgb(255, 116, 70);
  padding: 1rem 2rem;
  background-color: rgb(255, 116, 70);
  border-radius: 1rem;
  color: rgb(55, 55, 55);
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 15px rgba(255, 255, 255, 1),
    0px 0px 20px rgb(242, 245, 241), 0px 0px 30px rgb(224, 218, 222),
    0px 0px 40px rgb(244, 246, 244), 0px 0px 55px rgb(234, 236, 233),
    0px 0px 75px rgb(235, 237, 234);
}

.details a:hover {
  background-color: rgb(255, 116, 70);
  color: rgb(255, 255, 255);
}

/* The actual timeline (the vertical ruler) */
.timelin {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timelin::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(19, 19, 19);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.contain {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.contain::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(35, 34, 34);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(248, 90, 37, 0.165);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgba(248, 90, 37, 0.165);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(248, 90, 37, 0.165) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.contents {
  padding: 20px 30px;
  background-color: rgba(248, 90, 37, 0.165);
  position: relative;
  border-radius: 6px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

Content .content {
  padding: 10px;
}

.ref {
  margin-top: 7rem;
  text-align: center;
  font-style: italic;
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: arial;
}
.form-row {
  margin-bottom: 20px;
  padding: 4px 0;
  position: relative;
}
.form-block {
  margin-bottom: 8px;
  padding: 8px 12px;
}

.input-text {
  background-color: white;
  font-family: Arial;
  margin-bottom: 8px;
  padding: 8px 4px;
  position: relative;
  width: 50rem;
  z-index: 3;
  margin-left: 3rem;
}


.label {
  position: absolute;
  opacity: 0;
  transition: 0.2s bottom, 0.2s opacity;
  bottom: 0;
  left: 3rem;
  z-index: 1;
}

.p {
  text-align: center;
  padding-top: 50px;
}

button {
  padding: 13px;
  margin-top: 2px;
  color: #050101;
  outline: none;
  background: transparent;
  border: 1px solid rgb(255, 116, 70);
  border-radius: 3px;
  width: 50vw;
  cursor: pointer;
  margin-left: 4rem;
  background-color: rgb(255, 116, 70);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 15px rgba(255, 255, 255, 1),
    0px 0px 20px rgb(242, 245, 241), 0px 0px 30px rgb(224, 218, 222),
    0px 0px 40px rgb(244, 246, 244), 0px 0px 55px rgb(234, 236, 233),
    0px 0px 75px rgb(235, 237, 234);
}

button:hover {
  font-size: 1rem;
  background-color: rgb(255, 116, 70);
  color: rgb(245, 243, 243);
}

.me {
  font-size: xxx-large;
  text-align: center;
  font-weight: bolder;
  background: rgba(249, 26, 63, 0.326);
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 15px rgba(255, 255, 255, 1),
    0px 0px 20px rgb(242, 245, 241), 0px 0px 30px rgb(224, 218, 222),
    0px 0px 40px rgb(244, 246, 244), 0px 0px 55px rgb(234, 236, 233),
    0px 0px 75px rgb(235, 237, 234);
}

.me:hover {
  font-size: 2rem;
}

.location {
  font-weight: bold;
}

.new_home_web .text-blk.subHeading {
  text-align: center;
  color: #939393;
  max-width: 630px;
}

.new_home_web .text-blk.heading {
  font-size: 36px;
  line-height: 55px;
  font-weight: 600;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.new_home_web .responsive-container-block.textContainer {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  max-width: 1320px;
  z-index: 50;
}

.new_home_web
  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
  width: 50%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.new_home_web .send:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background: repeat-x initial;
  background: repeat-y initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}

.new_home_web .send {
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: #ea5541;
  width: 80%;
  text-align: center;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.new_home_web .container-block.form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 50;
}

.new_home_web
  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 1100px;
}

.new_home_web
  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 310px;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web
  .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  width: 100%;
}

.new_home_web .textinput {
  height: 100%;
  width: 100%;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a2a2a2;
  border-right-color: #a2a2a2;
  border-bottom-color: #a2a2a2;
  border-left-color: #a2a2a2;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
}

.new_home_web .input {
  height: 50px;
  width: 100%;
  border-top-width: 2.5px;
  border-right-width: 2.5px;
  border-bottom-width: 2.5px;
  border-left-width: 2.5px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a2a2a2;
  border-right-color: #a2a2a2;
  border-bottom-color: #a2a2a2;
  border-left-color: #a2a2a2;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #f1f1f1;
}

.new_home_web .responsive-container-block.big-container {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.new_home_web .responsive-container-block.container {
  max-width: 1320px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  z-index: 50;
}

.new_home_web .responsive-cell-block {
  min-height: 75px;
}

.new_home_web textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.new_home_web input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.new_home_web a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.new_home_web .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.new_home_web * {
  font-family: Nunito, sans-serif;
}

.new_home_web .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web .left4 {
  width: 50%;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.lastPhone {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.new_home_web .orangeText {
  color: #ea5541;
}

.new_home_web .orangeLine {
  height: 10px;
  width: 160px;
  background-color: #eb604d;
}

.new_home_web .topHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin: 0 0 25px 0;
}

.new_home_web .imgBG {
  position: absolute;
  width: 80%;
  height: 100%;
  left: auto;
  right: 0px;
  top: auto;
  bottom: 0px;
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 1rem;
    padding: 0.5px 0.5px;
    display: none;
  }

  section {
    height: 100%;
    border: solid 1px pink;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  nav {
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    position: sticky;
    z-index: 99;
    float: left;
    align-items: left;
    padding-left: 0.5rem;
    margin-right: 3rem;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: left;
  }

  .introduction {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-bottom: 5px;
  }

  a:hover {
    font-size: 1rem;
    background-color: rgba(249, 26, 63, 0.539);
    color: whitesmoke;
  }

  .image img {
    width: 95px;
    height: 9rem;
    object-fit: cover;
  }

  .location {
    font-size: x-small;
  }

  .input-text {
    width: 15rem;
  }

  button {
    padding: 6px;
    width: 25vw;
    margin-top: 1px;
    margin-left: 11rem;
  }

  button:hover {
    font-size: 1rem;
    background-color: rgb(255, 116, 70);
    color: rgb(248, 243, 243);
  }

  .end {
    height: 35rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
  }

  .details {
    margin-top: 1rem;
    text-align: center;
  }

  .details h1 {
    font-size: 1.5rem;
    font-weight: 100;
  }

  .details h2 {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
  }

  .details a {
    padding: 0.5rem 1rem;
  }

  .me {
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
  }

  .side,
  .middle {
    width: 50%;
  }

  .right {
    display: none;
  }

  .column {
    width: 50%;
  }

  .column {
    width: 100%;
  }

  /* Place the timelime to the left */
  .timelin::after {
    left: 31px;
  }

  /* Full-width containers */
  .contain {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .contain::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .new_home_web
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .new_home_web
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 0px;
  }

  .new_home_web .responsive-container-block.container {
    justify-content: center;
  }

  .new_home_web
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .new_home_web
    .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0 0 10px 0;
  }

  .new_home_web .container-block.form-wrapper {
    align-items: center;
  }

  .new_home_web
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    width: 100%;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .new_home_web
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
  }

  .new_home_web .responsive-container-block.container {
    flex-direction: column;
  }

  .new_home_web .textinput {
    width: 100%;
  }

  .new_home_web .input {
    width: 100%;
  }

  .new_home_web .left4 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  .new_home_web .responsive-container-block {
    flex-direction: column;
    align-items: center;
  }

  .new_home_web .textinput {
    height: 200px;
  }

  .new_home_web
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    width: 100%;
  }

  .new_home_web .imgBG {
    width: 100%;
    height: 90%;
    top: auto;
    left: auto;
  }

  .new_home_web .text-blk.heading {
    font-size: 30px;
  }

  .new_home_web
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    flex-wrap: wrap;
  }

  .new_home_web .send {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    text-align: center;
    width: 70%;
  }

  .new_home_web .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .new_home_web .text-blk.heading {
    font-size: 30px;
    text-align: center;
    line-height: 35px;
  }

  .new_home_web .send {
    width: 100%;
    max-width: 250px;
  }

  .new_home_web .imgBG {
    height: 60%;
  }

  .new_home_web .text-blk.subHeading {
    font-size: 16px;
    line-height: 24px;
  }

  .new_home_web .responsive-container-block.textContainer {
    margin: 50px 0 30px 0;
  }

  .new_home_web .input {
    height: 45px;
  }

  .new_home_web
    .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin: 0 0 10px 0;
  }
}
